@font-face { 
    font-family: "roboto" ; 
    src: url('./Fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    
    
} 

@font-face {
    font-family: "roboto-bold";
    src: url('./Fonts/Roboto/Roboto-Bold.ttf') format('truetype'); 

}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "roboto";
    
}


a {
    text-decoration: none;
    color: #E5E7EB;
    
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 32px;
    margin-left: 50px ;
    font-family: 'roboto' ;
    font-size: 18px;
    filter: contrast(50%);
}

button {
    width: 150px;
    padding: 5px;
    font-size: 15px;
    color: #F9FAF8;
    background-color: #3882f6;
    border-radius: 5px;
    border-color: #3882f6;

}

.hero img {
    width: 350px;
    height: auto;
}

.logo img {
    width: 100px;
    height: auto;
}
.hero {
    
    background-color: #1f2937 ;
    
}


.nav {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px 4px;
    gap: 24px;
    margin: auto;
    
    
}

.media1 {
    display: flex;
    flex: 1;
    justify-content: center;
    width: 800px;
    margin: auto;
    gap: 20px;
    padding: 50px;
    margin-bottom: 80px;

}

.media1 p {
    color: #E5E7EB;
    filter: contrast(50%);
    font-size: 18px;
}

.media1 h1 {
    font-size: 48px;
    font-family: "roboto-bold";
    font-weight: bolder;
    color: #F9FAF8;
}

.column {
    display: flex;
    flex-direction: column;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "roboto-bold";
    font-size: bolder;
    font-size: 36px;

}

.media2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 72px ;
    margin-bottom: 3em;
}

.submedia {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 12px;
        
}

.submedia div {
    font-family: "roboto";
    color: #1f2937;
    padding: 12px;
    text-align: center;
}

.submedia img {
    border: 5px solid #3882f6;
    width: 180px;
    height: 180px;
    border-radius: 20%;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    font-size: 36px;
    color: #1f2937;
    font-weight: light;
    font-style: italic;
    background-color: #E5E7EB;
}

.callto {
    display: flex;
    width: 70%;
    height: 150px;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    border-radius: 5px;
    gap: 20px;
    
}

.column2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 500px;
    color: #F9FAF8;
    
}

.column2 h3 {
    font-family: "roboto-bold";
    font-weight: bold;
}

.column2 p {
    filter: contrast(80%);
}

.callto button {
    border-color: #F9FAF8;
}

.footer {
    margin-top: 50px;
    background-color: #1f2937;
    color: #E5E7EB;
    box-sizing: border-box;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}